.footer__items {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px 15px;
  margin: 10px 0px;
}

.footer__item {
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 2px;
}

.footer__item-link {
  display: flex;
  align-items: center;
}

.footer__item-link:hover {
  text-decoration: underline;
}

.footer__item-link span:first-child {
  margin-right: 5px;
}
